<div class="card" [id]="cardId">

  <div class="card__front" *ngIf="data.img">
    <img class="" [src]="imageSrc" alt="{{data.name}}">
  </div>

  <div class="card__front card__front--text" *ngIf="!data.img" [style.color]="data.color">
    <span>{{data.name}}</span>
  </div>

  <div class="card__overlay" [style.background]="data.color" [style.transform]="translateStyle">
    <div class="card__content">
      <h3>
        <a *ngIf="data.url" [href]="data.url" target="_blank">{{data.name}}</a>
        <img *ngIf="data.isCanvas" class="card__icon" [src]="imageSrc" alt="{{data.name}}">
        <span *ngIf="!data.url">{{data.name}}</span>
      </h3>

      <p *ngIf="!data.isCanvas">{{data.content}}</p>
      <div *ngIf="data.isCanvas" class="card__canvas">
        <canvas [id]="canvasId" width="200" height="200">
          {{data.content}}%</canvas>
      </div>

    </div>
    <div *ngIf="data.viewMore" class="card__viewmore">
      <img class="" src="../../../assets/glasses.png" alt="View More">
      <!--<p>View Details</p>-->
    </div>
  </div>
</div>