body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

* { box-sizing: border-box; }

/* ng-cloak */
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

/* Remove shadow and outline on focus */
input[type=name], input[type=email], input[type=text], input[type=tel], input[type=submit],
input[type=number], input[type=password], input[type=url], textarea, button, a, select {
  &:focus {
    outline: none !important;
    box-shadow: 0,0,0,transparent;
    text-decoration: none;
  }
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
  outline: none;
  box-shadow: 0,0,0,transparent;
}

/* images can't be wider than their containers */
img { max-width: 100%; }

/* set cursor to pointer for specific elements */
a, [ui-sref], [ng-click] {
  cursor: pointer;
  outline: none;
}

.container {
  width: 100%;
  max-width: rem-calc(1440);
  margin: 0 auto;
  padding: 0 rem-calc(16);
}
