@import "functions";
@import "mixins";
@import "defaults";
@import "colors";
@import "toggle";


.backToTop {
  position: fixed;
  left: 0;
  bottom: 50px;
  height: 50px;
  width: 50px;
  background: green;
}

.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &--color {
    background: color(primary);
    color: white;
  }

  &__sub {
    @include font-range(20, 25);
    color: color(lgray);
    text-align: center;
    font-weight: 400;
    margin: 0px 0;
    padding-top: 25px;
  }

  &__hero {
  }

  &__squares {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  &__navs {
    @include font-range(15, 25);
    color: color(lgray);
    width: 50%;
    padding: 25px 50px;
    text-align: center;
    border-bottom: solid 2px color(accent);
    transition: border-bottom 1000ms;
  }

  &__sections {
    @include font-range(25, 40);
    display: flex;
    flex-direction: column;
  }
  &__link {
    margin-top: 25px;

    &:hover {
      color: color(lgray);
    }
  }
}

.pair {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 450px;
    width: 33%;
  }
}

.nav {
  position: fixed;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  color: color(primary);
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  font-size: 25px;
  line-height: 50px;
  z-index: 500;
  opacity: 0;
  transition: opacity 500ms;
  display: flex;
  justify-content: space-between;

  &__toggle {
    display: flex;
    align-items: center;
    &__switch {
      margin-left: 25px;
    }
    &__text {
      font-size: 20px;
      color: color(lgray);
    }
  }
}

.footer {
  background: color(accent);
  min-height: 200px;
  color: white;
  margin-top: 50px;
  padding: 50px 0 25px;


  &__social {
    display: flex;
    justify-content: center;
    padding: 0 25px 25px;
  }
  &__link {
      margin: 0 25px;
    &:hover img{
      transform: rotateX(180deg);
    }
    img {
      cursor: pointer;
      transition: transform 500ms;

    }
  }

  &__text{
    text-align: center;
  }
  &__headline {
    font-size: 25px;
    padding-bottom: 50px;
  }
}
.square {
  height: 10px;
  width: 10px;
  background: color(lgray);
  transition: background 1000ms;


  & + & {
    margin-left: 10px;
  }
}
.hero {
  @include font-range(50, 150);
  color: color(primary);
  text-align: center;
  font-weight: 400;
  margin: 0;
  transition: color 2000ms;
}
.sectiontitle {
  @include font-range(25, 50);
  color: color(accent);
  text-align: center;
  font-weight: 300;
  padding: $cardPadding;
}
.subheader {
  @include font-range(20, 25);
  color: color(lgray);
  text-align: center;
  font-weight: 400;
  padding: 100px 0 0;
}


 //Card----------------------------
card {
  $marginFor3: 2%;
  margin: 0 $marginFor3;
}
.cards {
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 padding: $cardPadding;
}
.card {
  position: relative;
  height: 300px;
  min-height: 300px;
  width: 300px;
  min-width: 300px;
  background: rgba(223,223,223,0.39);
  box-shadow: 0px 5px 10px 0px rgba(206,206,206,0.50);
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;

  &__front {
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;

    &--text {
      justify-content: center;
      text-align: center;
      font-size: 40px;
      //font-weight: 300;
    }
  }

  &__overlay {
    position: absolute;
    padding: $cardPadding;
    height: 100%;
    width: 100%;
    transition: all 200ms;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  &:hover > &__overlay {
    transform: translate(0%, 0%) !important;
  }
  &:hover  &__content {
    opacity: 1;
  }
  &:hover  &__viewmore {
    opacity: 1;
    transition: opacity 3000ms;
  }

  &__icon {
    height: 75px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__content {
    transition: opacity 1500ms;
    color: white;
    opacity: 0;
    //overflow: hidden;
    &:after {
     content: '';
      display: block;
    }
  }
  &__canvas {
    display: flex;
    justify-content: center;
  }
  &__viewmore {
    opacity: 0;
    color: white;
    cursor: pointer;
    text-align: center;
    & p {
      margin: 0;
    }
  }
}

.line {
  margin-top: 0;
  margin-bottom: 2px;

  &__item {
    text-decoration: underline;
  }
  &__bold {
    font-weight: 700;
    font-size: 25px;
  }
}

//Last Line
@import "responsive";
