@import "functions";
@import "mixins";
@import "defaults";
@import "colors";

.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__hero {
  }
  &__squares {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}
.square {
  height: 5px;
  width: 5px;
  background: color(lgray);

  & + & {
    margin-left: 10px;
  }
}
.hero {
  @include font-range(50, 150);
  color: color(primary);
  text-align: center;
  font-weight: 400;
  margin: 0;
}
.sectiontitle {
  @include font-range(25, 50);
  color: color(accent);
  text-align: center;
  font-weight: 300;
  margin: 0;
}.subheader {
  @include font-range(10, 25);
  color: color(lgray);
  text-align: center;
  font-weight: 300;
  margin: 0;
}


 //Card----------------------------
.cards {
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 padding: $cardPadding;
}
.card {
  position: relative;
  height: 300px;
  min-height: 300px;
  width: 300px;
  min-width: 300px;
  background: rgba(223,223,223,0.39);
  box-shadow: 0px 5px 10px 0px rgba(206,206,206,0.50);
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__front {
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;

    &--text {
      justify-content: center;
      text-align: center;
      font-size: 40px;
      //font-weight: 300;
    }
  }

  &__overlay {
    position: absolute;
    padding: $cardPadding;
    height: 100%;
    width: 100%;
    transition: all 200ms;
  }

  &:hover > &__overlay {
    transform: translate(0%, 0%) !important;
  }
  &:hover  &__content {
    opacity: 1;
  }

  &__content {
    transition: opacity 1500ms;
    color: white;
    opacity: 0;
  }
}

//Last Line
@import "responsive";